

  <img src="../images/skyline.jpg" alt="skyline" width="100%" height="400px">


<div class="container">
<hr>
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Por favor, Regístrese <small>It's free!</small></h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellido">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirmar Password">
                    </div>
                  </div>
                </div>
                
                <input type="submit" value="Registro" class="btn btn-info btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

    <div class="container">
    <hr>
      <div class="row">
        
        <div class="col-md-7">
           <h3 style="color:#5a6b98;">HEADLINE</h3> 
          <p class="rows">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius earum nobis similique suscipit rerum eligendi, temporsaepe odio explicabo ipsam officiis sit provident, ipsa ut, magnam rem laborum beatae quisquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro a, labore, omnis saepe ab vero ullam consequuntur repellat iusto praesentium, iste. Tempora nemo adipisci aut ex, rerum nobis corporis repellendus!</p>
          <p class="rows">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa molestiae repellat repellendus recusandae quisquam odit similique in. Commodi facilis, quae sint! Quo consectetur veniam nam accusantium nulla, suscipit, alias nesciunt?</p>
          
        </div>

        

        <div class="col-md-offset-2 col-md-3">
          <blockquote>
            <p class="rows">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi distinctio laudantium, at, optio eos, ut est nemo esse placeat omnis soluta dolore voluptates modi commodi voluptatem earum repudiandae molestias eaque?</p>
          </blockquote>
        </div>
      
      </div>
    </div>
